@page
@model Store.Pages.Admin.FavoriteProducts.IndexModel
@{
    ViewData["Title"] = "Favorite Products";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th>Description</th>
        <th>Added to Favorites</th>
        <th>Action</th>
    </tr>

    @foreach (var product in Model.FavoriteProducts)
    {
        <tr>
            <td>@product.Product.Name</td>
            <td>@product.Product.Brand</td>
            <td>@product.Product.Category</td>
            <td>@(product.Product.Price)$</td>
            <td>@product.Product.Description</td>
            <td>@product.AddedToFavorites.ToString("MM/dd/yyyy")</td>
            <td style="white-space:nowrap">
                <form method="post" asp-page="./Delete" style="display:inline;">
                    <input type="hidden" asp-for="@product.ProductId" name="id" />
                    <button type="submit" class="btn btn-outline-danger flex-shrink-0">Șterge din favorite</button>
                </form>
            </td>
        </tr>
    }
</table>
