@page
@model Store.Pages.Admin.Reviews.DeleteModel
@{
    ViewData["Title"] = "Delete Review";
}

<h1>Delete Review</h1>

<h3>Are you sure you want to delete this review?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Review.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Review.CreatedAt)
        </dd>
    </dl>

    <form method="post">
        <input type="submit" value="Delete" class="btn btn-outline-danger flex-shrink-0" /> |
        <a href="./Index">Back to List</a>
    </form>
</div>
